.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-projects {
  font-size: 30px;
  text-align: center;
  margin-top: 5em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-top: 2em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.cards {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.cards_item {
  display: flex;
  width: 70%;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  border: 0;
}

.card_image {
  flex: 0 0 100px;
}

.card_image img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.card_content {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.card_title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.card_text {
  font-size: 0.875rem;
  margin: 0;
}



